body {
    background-color: #f5F5F5;
}

.custom-section-1 {
    height: 33.875em;
    width: 100%;
}

/*--- Header ---*/
.navbar .navbar-nav .nav-link {
    color: #ffffff;
}

.sm-icons {
    flex-direction: row;
}

.sm-icons .nav-link {
    padding-right: 1em;
}

.custom-nav-style li {
    font-size: 0.875em;
    padding: 0.75em;
}

.custom-sign-up-now > button {
    width: 7.563em;
    border: solid 0.063em #ffffff;
    border-radius: 0.25em;
    background: none;
    font-size: 14px;
}

/*---Section1 content---*/
.custom-section1-img-container {
    max-width: 62.375em;
    position: relative;
    top: 3em;
}

.custom-decoration-container-section-1 {
    max-width: 23%;
    position: absolute;
}

.custom-decoraton-left-container-section1 {
    bottom: 0;
    left: 0;
}

.custom-decoraton-right-container-section1 {
    top: 0;
    right: 0;
}

/*---Section2---*/
.custom-section-2 {
    padding-top: 168px;
}

.custom-card-container {
    gap: 2%;
}

.custom-card {
    padding: 20px;
    border-radius: 12px;
}

.custom-card-2 {
    padding: 28px;
}

.custom-card-2 h2 {
   width: 79%;
}

.custom-button-sign-up-2 {
    margin-top: 120px;
}
.custom-button-sign-up-2:hover{
   background-color: #816bff;
   border: none;
}
.custom-button-sign-up-2:active {
    background-color: #584c9b !important;
 }

.custom-card-3 {
    height: 132px;
}

/*--- Section 3 ---*/
.custom-section-3 {
    padding-top: 48px;
}

.custom-testimonial-card {
    padding: 24px;
    background-color: #5e50ac;
    height: 293px;;
}

/* --- Slider ---*/

.custom-carousel-item {
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
}

/*--- section 4 ---*/
.custom-card-4-btn:hover {
    background-color: #630fff;
}

.custom-card-4-btn:active {
    background-color: #584c9b !important;
}

.ggg {
    height: 361px;
}

/*--- Section5 ---*/
.custom-button-sign-up-3 {
    border-color: #ffffff;
    margin-top: 0;
    width: 100%;
}

.custom-button-sign-up-3:hover {
    background-color: #ffffff;
    color: #000000;
}

/*--- Footer ---*/
footer {
    padding-top: 58px;
    padding-bottom: 97px;
}

.custom-button-sign-up-4:hover {
    background-color: #584c9b !important;
    color: #ffffff;
}

.custom-button-sign-up-4:active {
    color: #ffffff !important;
}