/*-------- # General --------*/
a {
    text-decoration: none;
}

/*----Import Fonts ----*/
@font-face {
    font-family: Raleway-Bold;
    src: url(../font/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../font/Raleway-SemiBold.ttf);
}


@font-face {
    font-family: Raleway-Medium;
    src: url(../font/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../font/Raleway-Regular.ttf);
}

/*--- Background color ---*/
.custom-bg-color-1 {
    background-color: #4d409a;
}

.custom-bg-color-2 {
    background-color: #5e50ac;
}

.custom-bg-color-3 {
    background-color: #8745ff;
}

.custom-bg-color-4 {
    background-color: rgb(135, 69, 255, 6%);
}

.custom-bg-color-5 {
    background-color: #ffffff;
}

.custom-bg-color-6 {
    background-color: #fff;
}

/*--- Color ---*/
.custom-color-1 {
    color: #4d409a;
}

.custom-color-2 {
    color: #000000;
}

.custom-color-3 {
    color: #fAfAfA;
}

.custom-color-4 {
    color: #4f5766;
}

.custom-color-5 {
    color: #ffffff;
}

.custom-color-6 {
    color: #4B4C55;
}

.custom-color-7 {
    color: #84848A;
}

/*---- Font Family ---*/

.custom-font-Raleway-Bold {
    font-family: Raleway-Bold;
}

.custom-font-Raleway-SemiBold {
    font-family: Raleway-SemiBold;
}

.custom-font-Raleway-Medium {
    font-family: Raleway-Medium;
}

.custom-font-Raleway-Regular {
    font-family: Raleway-Regular;
}

/*--- Font Size ---*/

.custom-font-size-16 {
    font-size: 16px;
}

.custom-font-size-24 {
    font-size: 24px;
}

.custom-font-size-36 {
    font-size: 36px;
}

.custom-font-size-48 {
    font-size: 48px;
}

/*--- Custom Button Style ---*/

.custom-button-bg-none {
    background: none !important;
    color: #6a7489 !important;
    font-size: 14px;
    font-family: Raleway-Regular;
    padding: 7px 25px !important;
}

.custom-button-bg-none:hover {
    border-color: #6a7489;
}

.custom-button-bg-none:hover, .custom-button-bg:hover {
    background-color: #816bff !important;
}

.custom-button-bg-none:active, .custom-button-bg:active {
    background-color: #463b83 !important;
}

.custom-button-bg {
    background-color: #8745FF !important;
    color: #fff !important;
    font-size: 16px !important;
    font-family: Raleway-Regular;
    padding: 8px 30px 10px 30px;
}

/*---- Custom Section Titile ----*/
.custom-section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.custom-section-title span {
    position: absolute;
    top: 30px;
    color: #8f82e217;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.custom-section-title h2 {
    font-size: 32px;
    /* font-weight: 700; */
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #8f7bfd;
    position: relative;
    z-index: 2;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.custom-section {
    padding: 60px 0;
    overflow: hidden;
}

.custom-section-bg {
    background-color: #f9f9fa;
}

/*-------- # Header --------*/
header {
    background-color: #fff;
}
#main-nav ul li a {
    color: #6a7489;
    font-size: 14px;
    font-family: Raleway-Regular;
}

.navbar-brand img {
    max-height: 35px;
}


/*-------- # Section 1 Home --------*/
#Home {
    padding-top: 80px;
}

.custom-home-text-conent {
    padding-top: 109px;
}

.custom-home-text-conent p
{
  color: #858ea1;
  margin: 10px 0 30px 0;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: lighter;
}

.custom-home-img {
    background-image: url(../images/chatbot.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 65vh;
}

@media only screen and (max-width: 767px) {
    .custom-home-img {
        height: 48vh;
    }
}

/*-------- # Main --------*/

/*-------- # Section 2 featured services --------*/
.custom-featured-services .custom-icon-box {
    padding: 20px;
    color: #5f687b;
    background: #f9f9fa;
    border: solid 1px #f9f9fa;
    border-radius: 4px;
    transition:0.3s;
    height: 100%;
}

.custom-featured-services .custom-icon-box:hover {
    border-color: #eaecef;
}

.custom-icon-box h1 {
    text-align: center;
    padding: 5px;
    font-size: 24px;
}

.custom-icon-box p {
    font-size: 16px;
    line-height: 24px;
}

.custom-icon-box h1 a {
    color: #5f687b;
}


/*-------- # Section 3 About --------*/
.custom-about .custom-content h3 {
    /* font-weight: 700; */
    font-size: 32px;
    color: #5f687b;
}

.custom-about .custom-content p {
    font-size: 16px;
    color: #5F687B;
}

.custom-about .custom-content ul {
    list-style: none;
    font-size: 20px;
    padding-right:0 !important;
    color: #8745FF;
}

.custom-about .custom-content ul li {
    padding-bottom: 10px;
}

.custom-about .custom-content ul li i {
    margin-right: 12px;
}

.custom-about .custom-content ul li span {
    margin-right: 12px;
    color: #5F687B !important;
}

/*-------- # Section 4 Services --------*/
.custom-services .custom-icon-box {
    text-align: center;
    border: 1px solid #fff;
    padding: 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}

.custom-services .custom-icon-box:hover {
    border-color: #eaecef;
}

.custom-services .custom-icon-box .custom-icon {
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
}

.custom-services .custom-icon-box h4 {
    /* font-weight: 700; */
    margin-bottom: 15px;
    font-size: 24px;
}

.custom-services .custom-icon-box h4 a {
    color: #5f687b;
    transition: ease-in-out 0.3s;
}

.custom-services .custom-icon-box p {
    /* line-height: 24px; */
    /* font-size: 14px; */
    margin-bottom: 0;
}

/*-------- # Section 5 Simple Section --------*/
.custom-simple-img {
    width: 100%;
    border: solid 1px #7f889a;
    text-align: center;
}

/* --- Section 6 Testimonial Media ---*/
.testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: white;
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    height: 200px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: #e4e6ea;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid #fff;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 45px;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 0 45px;
}
